<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email from form</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container justify-content-center">
        <div class="row mt-4">
            <div class="col col-8 offset-2">
                <form action="" class="form-group">
                    <label for="message-subject">Subject</label>
                    <input type="text" name="message-subject" id="message-subject" class="form-control"/>
                    <label for="message-body">Message</label>
                    <textarea name="message-body" id="message-body" cols="30" rows="10" class="form-control">
        
                    </textarea>
                    <button type="submit" class="btn btn-lg btn-primary m-3" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>